[Unit]
Description=Janus WebRTC Server
Requires=network.target
After=syslog.target network.target

[Service]
User=root
Nice=1
Type=notify
Restart=on-failure
RestartSec=10
# How long systemd will wait for the service to signal "start-up completion"
TimeoutStartSec=30s
# Max time systemd will wait between service keepalive pings
WatchdogSec=60s
NotifyAccess=exec
LimitNOFILE=65536
ExecStart=/opt/janus/bin/janus -o
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=reboot-force

Environment="FTL_NODE_KIND={{ ftl_node_kind }}"

Environment="FTL_ORCHESTRATOR_HOSTNAME={{ ftl_orchestrator_hostname }}"
Environment="FTL_ORCHESTRATOR_PORT=8085"
Environment="FTL_ORCHESTRATOR_PSK={{ ftl_orchestrator_psk }}"
Environment="FTL_ORCHESTRATOR_REGION_CODE={{ region }}"

Environment="FTL_SERVICE_CONNECTION=GLIMESH"
Environment="FTL_SERVICE_METADATAREPORTINTERVALMS=10000"
Environment="FTL_SERVICE_GLIMESH_HOSTNAME=glimesh.tv"
Environment="FTL_SERVICE_GLIMESH_PORT=443"
Environment="FTL_SERVICE_GLIMESH_HTTPS=1"
Environment="FTL_SERVICE_GLIMESH_CLIENTID={{ glimesh_client_id }}"
Environment="FTL_SERVICE_GLIMESH_CLIENTSECRET={{ glimesh_client_secret }}"
Environment="FTL_MAX_ALLOWED_BITS_PER_SECOND=8000000"

[Install]
WantedBy=multi-user.target
