# Rename this file to hosts

# Ftl
[ftl:vars]
ftl_orchestrator_psk=some_value
ftl_orchestrator_hostname=some_value
letsencrypt_email=some_value
glimesh_client_id=some_value
glimesh_client_secret=some_value

[ftl:children]
ftl_ingest
ftl_edge
ftl_orchestrator

[ftl_ingest]
some-ftl-ingest-servers
some-ftl-ingest-servers

[ftl_edge]
some-ftl-edge-servers
some-ftl-edge-servers
some-ftl-edge-servers

[ftl_orchestrator]
some-orchestrator-server

# Monitoring
[monitor]
monitoring-server

[monitor:vars]
# The monitoring server generates its own logs which causes more logs
promtail_log_batchwait_seconds=15

[node_exporter:children]
monitor
ftl

[all:vars]
ansible_user=root

loki_host=loki.monitoring-server
loki_caddy_basicauth_promtail=very_secret_password_which_is_greater_than_63_characters_is_best
