# Rename this file to hosts

# Ftl
[ftl:vars]
ftl_orchestrator_psk=some_value
ftl_orchestrator_hostname=some_value
letsencrypt_email=some_value
glimesh_client_id=some_value
glimesh_client_secret=some_value
glimesh_api_hostname=example.com
glimesh_api_port=8080
glimesh_api_https=False

[ftl:children]
ftl_ingest
ftl_edge
ftl_orchestrator

[ftl_ingest]
some-ftl-ingest-servers region=region1
some-ftl-ingest-servers region=region1

[ftl_edge]
some-ftl-edge-servers region=region1
some-ftl-edge-servers region=region1
some-ftl-edge-servers region=region1

[ftl_orchestrator]
some-orchestrator-server region=region1

[web]
some-web-servers region=region1
some-web-servers region=region1


[web:vars]
glimesh_url_scheme=http
glimesh_url_host=example.com
glimesh_url_port=8080
glimesh_http_port=8080
glimesh_database_url="ecto://username:password@db_hostname/db_name"

# Monitoring
[monitor]
monitoring-server region=region1

[monitor:vars]
# The monitoring server generates its own logs which causes more logs
promtail_log_batchwait_seconds=15

[node_exporter:children]
monitor
web
ftl

[all:vars]
ansible_user=root

loki_host=loki.monitoring-server
loki_caddy_basicauth_promtail=very_secret_password_which_is_greater_than_63_characters_is_best
