
- name: web
  hosts: web
  serial: 1
  roles:
    - glimesh-web
    - prometheus-node-exporter

- name: ftl orchestrator
  hosts: ftl_orchestrator
  roles:
    - janus-ftl-orchestrator
    - prometheus-node-exporter

- name: ftl ingest
  hosts: ftl_ingest
  roles:
    - janus-ftl-plugin
    - prometheus-node-exporter

- name: ftl edge
  hosts: ftl_edge
  vars:
    ftl_node_kind: edge
  roles:
    - janus-ftl-plugin
    - janus-ftl-nginx-ssl
    - prometheus-node-exporter

- name: monitoring server
  hosts: monitor
  roles:
    - caddy
    - monitor
    - loki
    - promtail
    - prometheus-node-exporter
