[Unit]
Description={{ blackbox_exporter_service_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ blackbox_exporter_user_name }}
Group={{ blackbox_exporter_group_name }}
Restart=on-abnormal
Type=simple
# History Limit is the count of test results and the count of test failures kept in memory
ExecStart={{ local_bin_path }}/blackbox_exporter \
                                    --config.file=/etc/blackbox_exporter/blackbox_exporter.conf \
                                    --web.listen-address="localhost:9115" \
                                    --history.limit 25

MemoryHigh=150M
MemoryMax=200M

[Install]
WantedBy=multi-user.target
