global:
  scrape_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
{% for host in groups['node_exporter'] %}
{% if inventory_hostname != host %}
      - targets: ['{{ host }}:9100']
        labels:
          region: {{ hostvars[host].region }}
          ftl_node_kind: {{ hostvars[host].ftl_node_kind }}
{% endif %}
{% endfor %}

  - job_name: 'janus_http'
    scrape_interval: 5s
    metrics_path: /probe
    params:
      module: [http_json_200]  # Look for a HTTP 200 with JSON data
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.
    static_configs:
{% for host in groups['ftl_edge'] %}
{% if inventory_hostname != host %}
      - targets: ['https://{{ host }}/janus/info']
        labels:
          region: {{ hostvars[host].region }}
          ftl_node_kind: {{ hostvars[host].ftl_node_kind }}
{% endif %}
{% endfor %}


  - job_name: 'janus_ftl_ping'
    scrape_interval: 5s
    metrics_path: /probe
    params:
      module: [ftl_ping]  # Look for a 201 response to a PING
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.
    static_configs:
{% for host in (groups['ftl_ingest'] + groups['ftl_edge']) %}
{% if inventory_hostname != host %}
      - targets: ['{{ host }}:8084']
        labels:
          region: {{ hostvars[host].region }}
          ftl_node_kind: {{ hostvars[host].ftl_node_kind }}
{% endif %}
{% endfor %}
